

.first-color{
    -fx-background-color: #e6d2aa;
}
.radius{
    -fx-background-radius: 10px;
}
.second-color{
    -fx-background-color: #f0ece3;
    -fx-background-radius: 15px;
}

.third-color{
    -fx-background-color: fcf0c8;
    -fx-background-radius: 15px 15px 15px 15px;
}
.button{
    -fx-background-radius: 5px;
    -fx-border-color: #000;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}
.button:hover{
    -fx-border-radius: 5px;
    -fx-border-color: #0fb565;
    
}
.box{
    padding: 10px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}